/* General Styles -------------------------------------------------------- */

body {
  margin: 0 auto;
  width: 95%;
  padding: 0px;
  background-color: powderblue;
}
section, header { background-color: aliceblue; }

body, p, button { font-family: futura, tahoma, sans-serif; }
p {margin: 0 auto;}

/* Header Styles --------------------------------------------------------- */
header {
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
}
h1 {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  font-family: "bradley hand", cursive;
  font-size: 4em;
}
.instructions {
  display: flex;
  justify-content: center;
  text-align: left;
}
ol {
  margin: 0 auto;
  padding-bottom: 5px;
}
ul {
  list-style-type: square;
  margin: 5px auto;
}

/* Sections Styles --------------------------------------------------------- */
.num_display_container {
  margin: 7px auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}
.num_display_container p {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  text-align: center;
  font-size: 2em;
  background-color: white;
}
.fizz_buzz_btn_cont, .start_reset_btn_cont {
  margin: 7px auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}
.btn_class {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  width: 20%;
  text-align: center;
  font-size: 2em;
}
.btn_class:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.display_container {
  margin: 7px auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}
.display_container p {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 65%;
  text-align: center;
  font-size: 2em;
  background-color: white;
}
.begin_btn_class {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  width: 35%;
  text-align: center;
  font-size: 2em;
}
.begin_btn_class:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.next_btn_class {
  display: none;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  width: 35%;
  text-align: center;
  font-size: 2em;
}
.next_btn_class:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
