html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 80%;
  min-height: 95vh;
  margin: 0 auto;
  padding-bottom: 1rem;
  border: .25rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { font-size: 4rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.75rem; }
p { font-size: 2rem; }
button { font-size: 1.5rem; }
li { font-size: 1.5rem; }

h1, h2, h3, p, button, li {
  font-family: futura, helvetica, serif;
  text-align: center;
  margin: 0 auto;
  padding: .25rem;
  background-color: none;
}
/* Button styles. ----------------------------------- */
 button {
   background-color: dodgerblue;
   border-radius: 8px;
   box-shadow: 1px 3px;
 }
 button:hover {
   background-color: blue;
   color: white;
   cursor: pointer;
 }
 .butWidth {
   width: 25%;
   margin-bottom: .5rem;
 }
 /* Class hides the "Next Number" button. -------------- */
 .disabledButton {
   visibility: hidden;
 }
 /* Header section styles.---------------------------- */
 .headerStyle {
   width: 100%;
   margin-bottom: 1rem;
   background-color: LightYellow;
   border-bottom: .25rem solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .headerStyle * {
   margin-bottom: .5rem;
 }
 .titleStyle {
   color: DarkOrange;
   text-shadow: 2px 0px black, 0px 2px black, -1px 0px black, 0px -1px black;
 }
 .howToContainer {
   width: 90%;
   background-color: white;
   border: .25rem solid DarkOrange;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .howToContainer * {
   margin-bottom: .25rem;
   margin-top: 0;
 }
 .howToContainer h2, .divisibleCont h3 {
   text-decoration: underline;
 }
 .playItem {
   text-align: left;
   margin-bottom: .15rem;
 }
 .divisibleCont * {
   padding: .05rem;
   margin-bottom: .05rem;
 }
 .divisibleCont p {
   font-size: 1.5rem;
 }
 .divisibleCont p span {
   text-decoration: underline;
 }
 /* The user message and number displays. ------------------- */
 .userDisplay {
   padding-left: .5rem;
   padding-right: 1rem;
   margin-bottom: 1rem;
 }
 /* The game type selection / choice buttons area. ------------- */
 .gameSelectonCont, .answerSelectonCont {
   min-width: 493px;
 }
 .gameSelcButtonsCont, .gameAnswerButtonsCont {
   display: flex;
 }
 .gameSelcButtonsCont button, .gameAnswerButtonsCont button {
   width: 40%;
   margin-top: .15rem;
   margin-bottom: .15rem;
 }
 /* The hide class; used for hiding elements. -----------*/
 .hide {
   display: none;
 }
 /* Body and Font size queries.-------------------------- */
 @media screen and (max-width: 850px){
   html { font-size: 12px; }
 }
 @media screen and (max-width: 550px){
   body { width: 100%; }
   p { font-size: 1.75rem; }
 }
 /* Buttons media query. -------------------------------- */
 @media screen and (max-width: 850px){
   button {
     border-radius: 4px;
     box-shadow: .65px 2px;
     padding-top: 6px;
     padding-bottom: 6px;
   }
   .butWidth {
     width: 35%;
   }
 @media screen and (max-width: 350px){
   .butWidth {
     width: 45%;
   }
 }
 @media screen and (max-width: 320px){
   button { font-size: 1.25rem; }

   .gameSelectonCont button, .answerSelectonCont button {
     margin-bottom: .65rem;
     width: 45%;
   }
 }
 /* The game type selection / choice buttons area media query. --- */
 @media screen and (max-width: 850px){
   .gameSelectonCont, .answerSelectonCont {
     min-width: 400px;
     margin-bottom: 2rem;
   }
 }
 @media screen and (max-width: 650px){
   .gameSelectonCont, .answerSelectonCont {
     min-width: 300px;
     margin-bottom: 2rem;
   }
 }
 @media screen and (max-width: 310px){
   .gameSelectonCont, .answerSelectonCont {
     min-width: 200px;
   }
 }
